# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Output folders
output/
exports/

# OS files
.DS_Store
Thumbs.db

# Editor/project files
.vscode/
.idea/
